<div class="centered well col-md-10 center-block">
    <div class="row">
        <h3 class="col-md-8">Настройки автора {{model.author.name}} {{model.author.surname}}</h3>
        <a class="text-right col-md-4" href="#/settings/user">
            <h3>Настройки пользователя</h3>
        </a>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-circle centered" src="{{model.author.pictureSource | personFilter}}">
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label for="name"><h5>имя:</h5></label>
                <input type="text" class="form-control" id="name" data-ng-model="model.author.name"/>
            </div>
            <div class="form-group">
                <label for="surname"><h5>фамилия:</h5></label>
                <input type="text" class="form-control" id="surname" data-ng-model="model.author.surname"/>
            </div>
            <label class="text-uppercase">
                <input type="checkbox" id="useAlias" data-ng-model="model.author.usePseudonym"
                       value="usePseudonym"> Использовать псевдоним
            </label>
            <div>
                <label for="pseudonym"><h5>Псевдоним:</h5></label>
                <input  data-ng-disabled="!model.author.usePseudonym" type="text" class="form-control"
                        id="pseudonym" data-ng-model="model.author.pseudonym"/>
            </div>
            <div class="form-group">
                <label for="dateOfBirth"><h5>Дата рождения:</h5></label>
                <input type="date" class="form-control" id="dateOfBirth" data-ng-model="model.author.dateOfBirth"/>
            </div>
            <button class="btn col-md-4" data-ng-click="saveAuthorSettings()"><h5>Сохранить изменения</h5></button>
        </div>
    </div>
    <hr>
    <div>
        <div class="row">
            <h4 class="col-md-11">Книги автора:</h4>
            <a href="#/edit"><button class="btn pull-right"> + </button></a>
        </div>
        <div data-ng-if="!model.book.works">
            <h5>Пока что книг нет...</h5>
            <a href="#/edit"><h5>Добавьте книгу</h5></a>
        </div>
        <div data-ng-if="model.user.works">
            <div data-ng-repeat="work in model.author.works">
                <a href="#/edit/{{work.id}}"><h5>{{work.title}}</h5></a>
            </div>
        </div>
    </div>
</div>