<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <h3 class="text-center">Лучшие произведения:</h3>
        <div class="panel-body">
            <div class="col-md-4" data-ng-repeat="book in model.bookList">
                <book-item model="book" open-book="openBook(id)"></book-item>
            </div>
        </div>
    </div>
</div>
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <h3 class="text-center">Набирающие популярность:</h3>
        <div class="panel-body">
            <div class="col-md-4" data-ng-repeat="book in model.bookList">
                <book-item model="book" open-book="openBook(id)"></book-item>
            </div>
        </div>
    </div>
</div>
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
        <h3 class="text-center">Новые:</h3>
        <div class="panel-body">
            <div class="col-md-4" data-ng-repeat="book in model.bookList">
                <book-item model="book" open-book="openBook(id)"></book-item>
            </div>
        </div>
    </div>
</div>