<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'Bookva' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>61aeca3c-e32a-4102-ab05-5f334aec5809</InstrumentationKey>
</ApplicationInsights>