<div class="modal-header">
    <h3 class="modal-title">Изменение пароля</h3>
</div>
<div class="modal-body">
    <form id="login-form" role="form" name="changePasswordForm">
        <div class="form-group"
             data-ng-class="{'has-error': changePasswordForm.oldPassword.$touched &&
             changePasswordForm.oldPassword.$invalid}">
            <label for="oldPassword" class="control-label"><h5>Старый пароль:</h5></label>

            <input type="password" id="oldPassword"
                   data-ng-model="model.oldPassword" class="form-control" name="oldPassword"
                   placeholder="Старый пароль"
                   aria-describedby="old-pass-error"
                   pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$" required>
            <div class="help-block" id="old-pass-error">
                    <span data-ng-show="changePasswordForm.oldPassword.$touched &&
                    changePasswordForm.oldPassword.$error.pattern">
                        Пароль должен содержать хотя бы одну заглавную, прописную буквы и цифру. Длина пароля не должна быть меньше 6 символов.
                    </span>
                    <span data-ng-show="changePasswordForm.oldPassword.$touched && changePasswordForm.oldPassword.$error.required">
                        Ввод старого пароля обязателен.
                    </span>
            </div>

            <div class="form-group"
                 data-ng-class="{'has-error': changePasswordForm.password.$touched && changePasswordForm.password.$invalid}">
                <label for="password" class="control-label"><h5>Новый пароль:</h5></label>

                <input type="password" id="password"
                       data-ng-model="model.password" class="form-control" name="password"
                       placeholder="Новый пароль"
                       aria-describedby="pass-error"
                       pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$" required>
                <div class="help-block" id="pass-error">
                    <span data-ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$error.pattern">
                        Пароль должен содержать хотя бы одну заглавную, прописную буквы и цифру. Длина пароля не должна быть меньше 6 символов.
                    </span>
                    <span data-ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$error.required">
                        Ввод нового пароля обязателен.
                    </span>
                </div>
            </div>

            <button data-ng-disabled="changePasswordForm.$invalid" class="btn"
                    data-ng-click="ok()"><h5>Сохранить</h5>
            </button>
            <button class="btn btn-danger" type="button" data-ng-click="cancel()"><h5>Отмена</h5></button>
        </div>
    </form>

</div>