<!--@book info-->
<!--add a review-->

<div class="col-md-12">
    <div class="centered well col-md-10 center-block">
        <img class="img-responsive col-md-4 centered" data-ng-src="{{model.book.coverSource | coverFilter}}">

        <h2 class="text-center">{{::model.book.title}}</h2>
        <h3 data-ng-repeat="author in model.book.authors" class="text-center">
            {{::author.displayName}}
        </h3>
        <div class="centered">
            <div class="row col-md-12">
                <span class="text-capitalize keyword" data-ng-repeat="keyword in model.book.keywords">{{::keyword.value}}</span>
            </div>
        </div>

        <div>
            <h3>Рейтинг: {{::model.book.averageRating}}</h3>
            <h5>Всего голосов: {{::model.book.totalVotes}} </h5>
            <span data-ng-class="model.book.currentUserVote == ($index+1) ? 'rated' : 'keyword'" data-ng-click="rateBook($index + 1)"
                    data-ng-repeat="point in [] | range:5">{{::$index + 1}}</span>
        </div>

        <div data-ng-show="loadCollectionStats()">
            <h3>Коллекции:</h3>

            <div class="col-md-4 panel">
                <span class="col-md-10">
                    <h6>Любимые книги</h6>
                </span>
                <button data-ng-if="model.favourite"
                        data-ng-click="removeFromCollection('favourites')"
                        class="pull-right text-center btn btn-danger">X</button>
                <button data-ng-if="!model.favourite"
                        data-ng-click="addToCollection('favourites')"
                        class="pull-right text-center btn btn-success">+</button>
            </div>
            <div class="panel col-md-4">
                <span class="col-md-10">
                    <h6>Недавние</h6>
                </span>
                <button data-ng-if="model.latestCollection"
                        data-ng-click="removeFromCollection('latestCollection')"
                        class="pull-right text-center btn btn-danger">X</button>
                <button data-ng-if="!model.latestCollection"
                        data-ng-click="addToCollection('latestCollection')"
                        class="pull-right text-center btn btn-success">+</button>
            </div>
            <div class="col-md-4 panel">
                <span class="col-md-10">
                    <h6>Прочитанные</h6>
                </span>
                <button data-ng-if="model.readCollection"
                        data-ng-click="removeFromCollection('readCollection')"
                        class="pull-right text-center btn btn-danger">X</button>
                <button data-ng-if="!model.readCollection"
                        data-ng-click="addToCollection('readCollection')"
                        class="pull-right text-center btn btn-success">+</button>
            </div>
        </div>

        <hr>
        <div class="text-center">
            {{::model.book.description}}
        </div>

        <div class="row">
            <h3 class="text-center">Отрывки книг:</h3>
            <div class="col-md-4" data-ng-show="model.book.extract1" >
                {{::model.book.extract1 | limitTo: 400}}{{model.book.extract1.length > 400 ? '...' : ''}}
                <br>
                <a data-ng-click="readBook(model.book.extract1, null, 'Отрывок 1', 'Отрывок 2')"><h6>Читать</h6></a>
            </div>
            <div class="col-md-4" data-ng-show="model.book.extract2" >
                {{::model.book.extract2 | limitTo: 400}}{{model.book.extract2.length > 400 ? '...' : ''}}
                <br>
                <a data-ng-click="readBook(model.book.extract2, 'Отрывок 1', 'Отрывок 2', 'Отрывок 3')"><h6>Читать</h6></a>
            </div>
            <div class="col-md-4" data-ng-show="model.book.extract3" >
                {{::model.book.extract3 | limitTo: 400}}{{model.book.extract3.length > 400 ? '...' : ''}}
                <br>
                <a data-ng-click="readBook(model.book.extract3, 'Отрывок 2', 'Отрывок 3', null)"><h6>Читать</h6></a>
            </div>
        </div>

        <h3 class="text-center">Понравилось? <a data-ng-click="readBook(model.book.text, null, null, null)">Перейдите к чтению!</a></h3>

        <hr>
        <div>
            <h3>Отзывы: ({{model.book.reviews.length}})</h3>
            <div data-ng-if="model.book.reviews.length == 0">
                <h4>Пока что отзывов к книге нет...</h4>
                <h4>Будь первым, кто оставит отзыв :)</h4>
            </div>
            <div data-ng-if="model.book.reviews.length != 0">
                <div data-ng-repeat="review in model.book.reviews">
                    <review data="review"></review>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="review"><h3>Прочитали книгу? Оставьте отзыв:</h3></label>
                <div class="form-group">
                    <label for="title"><h5>Заголовок: {{model.review.title.length | lengthFilter}}/250</h5></label>
                    <input type="text" maxlength="250" class="form-control"
                           id="title" data-ng-model="model.review.title"/>
                </div>
                <div class="form-group">
                    <label for="review"><h5>Отзыв: {{model.review.text.length | lengthFilter}}/2000</h5></label>
                    <textarea class="form-control" rows="5" maxlength="2000"
                              id="review" data-ng-model="model.review.text"></textarea>
                </div>
            </div>
            <button class="btn text-capitalize" data-ng-click="postReview()">Опубликовать</button>
        </div>
    </div>
</div>