<!--@book info-->
<!--add a review-->

<div class="col-md-12">
    <div class="centered well col-md-10 center-block">
        <img class="img-responsive col-md-6 centered" src="{{model.book.coverSource}}">

        <h2 class="text-center">{{model.book.title}}</h2>
        <h3 data-ng-repeat="author in model.book.authors" class="text-center">
            {{author.displayName}}
        </h3>
        <div class="centered">
            <div class="row col-md-12">
                <span class="text-capitalize keyword" data-ng-repeat="keyword in model.book.keywords">{{keyword.value}}</span>
            </div>
        </div>

        <div>
            <h3>Рейтинг: {{model.book.averageRating}}</h3>
            <h5>Всего голосов: {{model.book.totalVotes}}</h5>
            <span class="keyword" data-ng-click="rateBook($index + 1)"
                    data-ng-repeat="point in [] | range:5">{{$index + 1}}</span>
            <!--TODO rewrite, add user's current rate-->
        </div>

        <hr>
        <div class="text-center">
            {{model.book.description}}
        </div>

        <div class="row">
            <h3 class="text-center">Отрывки книг:</h3>
            <div class="col-md-4" data-ng-show="model.book.extract1" >
                {{model.book.extract1 | limitTo: 400}}{{model.book.extract1.length > 400 ? '...' : ''}}
                <br>
                <a href="#/read"><h6>Читать</h6></a>
            </div>
            <div class="col-md-4" data-ng-show="model.book.extract2" >
                {{model.book.extract2 | limitTo: 400}}{{model.book.extract2.length > 400 ? '...' : ''}}
                <br>
                <a href="#/read"><h6>Читать</h6></a>
            </div>
            <div class="col-md-4" data-ng-show="model.book.extract3" >
                {{model.book.extract3 | limitTo: 400}}{{model.book.extract3.length > 400 ? '...' : ''}}
                <br>
                <a href="#/read"><h6>Читать</h6></a>
            </div>
        </div>

        <h3 class="text-center">Понравилось? <a href="#/chapters">Перейдите к чтению!</a></h3>

        <hr>
        <div>
            <h3>Отзывы: ({{model.book.reviews.length}})</h3>
            <div data-ng-if="model.book.reviews.length == 0">
                <h4>Пока что отзывов к книге нет...</h4>
                <h4>Будь первым, кто оставит отзыв :)</h4>
            </div>
            <div data-ng-if="model.book.reviews.length != 0">
                <div data-ng-repeat="review in model.book.reviews">
                    <div class="row">
                        <h4 class="col-md-6">{{review.author}}</h4>
                        <h4 class="col-md-6 text-right">{{review.date | date: "HH:mm dd.MM.yyyy"}}</h4>
                    </div>
                    <div class="row">
                        <img class="img-responsive img-circle col-md-1" src="http://www.w3schools.com/bootstrap/cinqueterre.jpg">
                        <div class="col-md-11">
                            <div>
                                <h5>{{review.text}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div>
            <div class="form-group">
                <label for="review"><h3>Прочитали книгу? Оставьте комментарий:</h3></label>
                <textarea class="form-control" rows="5" id="review"></textarea>
            </div>
            <button class="btn text-capitalize">Опубликовать</button>
        </div>
    </div>
</div>