<!--@add book-->
<!--keywords-->
<!--upload files-->
<!--genres-->

<div class="centered well col-md-10 center-block">
    <div class="row">
        <h3 class="col-md-9">Книга '{{model.book.title}}'</h3>
    </div>

    <div class="row">
        <div class="col-md-2">
            <img class="img-responsive centered" src="{{model.book.coverSource}}">
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label for="name"><h5>Название:</h5></label>
                <input type="text" class="form-control" id="name" data-ng-model="model.book.title"/>
            </div>
            <div class="form-group">
                <label for="year"><h5>Год написания:</h5></label>
                <input type="number" class="form-control" id="year" data-ng-model="model.book.yearCreated"/>
            </div>
            <label class="text-uppercase">
                <input type="checkbox" id="status" data-ng-model="model.book.status"
                       value="status"> Черновик
            </label>
            <label class="text-uppercase">
                <input type="checkbox" id="isAnonymous" data-ng-model="model.book.isAnonymous"
                       value="isAnonymous"> Публиковать анонимно
            </label>
        </div>
    </div>
    <div>
        <h4>Жанры: {{model.book.genres.length}}/10</h4>
        <div data-ng-if="!model.book.genres.length">
            <h5>Добавляйте жанры, чтобы пользователям было проще искать ваши книги.</h5>
        </div>
        <div data-ng-if="model.book.genres.length">
            <div class="row">
                <span class="text-capitalize keyword" data-ng-repeat="genre in model.book.genres">{{genre.value}}</span>
            </div>
        </div>
    </div>
    <div>
        <h4>Ключевые слова: {{model.book.keywords.length}}/10</h4>
        <div data-ng-if="!model.book.keywords.length">
            <h5>Добавляйте ключевые слова, чтобы пользователям было проще искать ваши книги.</h5>
        </div>
        <div data-ng-if="model.book.keywords.length">
            <div class="row">
                <span class="text-capitalize keyword" data-ng-repeat="keyword in model.book.keywords">{{keyword.value}}</span>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group">
            <label for="description"><h4>Описание книги:</h4></label>
            <textarea class="form-control" rows="10" id="description" data-ng-model="model.book.description"></textarea>
        </div>
    </div>

    <div class="row">
        <h3 class="col-md-12">Отрывки книг:</h3>
        <div class="col-md-4">
            <div data-ng-if="!model.book.extract1" class="text-center">
                <h5>Пока что отрывка нет</h5>
                <a data-ng-click="addExtract(model.book.extract1, 'extract1')"><h6>Добавить отрывок</h6></a>
            </div>
            <div data-ng-if="model.book.extract1">
                {{model.book.extract1 | limitTo: 200}}{{model.book.extract1.length > 200 ? '...' : ''}}
                <a data-ng-click="addExtract(model.book.extract1, 'extract1')"><h6>Изменить</h6></a>
            </div>
        </div>
        <div class="col-md-4">
            <div data-ng-if="!model.book.extract2" class="text-center">
                <h5>Пока что отрывка нет</h5>
                <a data-ng-click="addExtract(model.book.extract2, 'extract2')"><h6>Добавить отрывок</h6></a>
            </div>
            <div data-ng-if="model.book.extract2">
                {{model.book.extract2 | limitTo: 200}}{{model.book.extract2.length > 200 ? '...' : ''}}
                <a data-ng-click="addExtract(model.book.extract2, 'extract2')"><h6>Изменить</h6></a>
            </div>
        </div>
        <div class="col-md-4">
            <div data-ng-if="!model.book.extract3" class="text-center">
                <h5>Пока что отрывка нет</h5>
                <a data-ng-click="addExtract(model.book.extract3, 'extract3')"><h6>Добавить отрывок</h6></a>
            </div>
            <div data-ng-if="model.book.extract3">
                {{model.book.extract3 | limitTo: 200}}{{model.book.extract3.length > 200 ? '...' : ''}}
                <a data-ng-click="addExtract(model.book.extract3, 'extract3')"><h6>Изменить</h6></a>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group">
            <label for="content"><h4>Текст книги:</h4></label>
            <textarea class="form-control" rows="20" id="content" data-ng-model="model.book.text"></textarea>
        </div>
    </div>

    <button class="btn text-uppercase">Опубликовать</button>
</div>
