<div class="centered well col-md-10 center-block">
    <div class="row">
        <h3 class="col-md-9">Настройки пользователя  {{model.user.username}}</h3>
        <a class="text-right col-md-3" href="#/settings/author">
            <h3 data-ng-if="!model.user.isAuthor">
                Стать автором
            </h3>
            <h3 data-ng-if="model.user.isAuthor">
                Настройки автора
            </h3>
        </a>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-circle centered"
                 data-ng-src="{{model.user.pictureSource | personFilter}}">
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label for="name"><h5>Отображаемое имя:</h5></label>
                <input type="text" class="form-control" id="name" data-ng-model="model.user.username"/>
            </div>

            <button class="btn col-md-4" data-ng-click="showChangePasswordModal()"><h5>Изменить пароль</h5></button>
            <button class="btn col-md-4" data-ng-click="saveUserSettings()"><h5>Сохранить изменения</h5></button>
        </div>
    </div>
    <hr>
    <div>
        <h4 class="col-md-12">Пользовательске коллекции:</h4>
        <div class="col-md-12">
            <div class="well">
                <h3 class="text-center">Лучшие произведения:</h3>
                <div class="panel-body">
                    <div class="col-md-4" data-ng-repeat="book in model.favouriteCollections">
                        <book-item model="book"></book-item>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="well">
                <h3 class="text-center">Недавние:</h3>
                <div class="panel-body">
                    <div class="col-md-4" data-ng-repeat="book in model.latestCollection">
                        <book-item model="book"></book-item>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="well">
                <h3 class="text-center">Прочитанные:</h3>
                <div class="panel-body">
                    <div class="col-md-4" data-ng-repeat="book in model.readCollection">
                        <book-item model="book"></book-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
