@inherits System.Web.Mvc.WebViewPage
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en" data-ng-app="BookvaApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body id="body" data-ng-controller="mainController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Bookva</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li data-ng-show="!getToken()"><a href="#/login">Login <span class="sr-only"></span></a></li>
                    <li data-ng-show="!getToken()"><a href="#/register">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ng-view data-ng-cloak></ng-view>
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/app")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/templates")
</body>
</html>
